<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Информация о клиенте</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"></head>
</head>
<body>
<H4 style="margin-left:32px;"> Клиент: </H4>
<H4 th:text="${personById.getName()}" style="margin-left:32px;"> </H4>
<!--<div th:insert="blocks/header :: header"></div>-->
<!--<form th:method="DELETE" th:action="@{/api/v1/people/{id}/delete(id=${deletedUser.getId()})}" style="margin-left:32px;">-->
<!--<form th:method="GET" th:action="@{/api/v1/people/{id}(id=${personById.getId()})}" th:object="${personById}"style="margin-left:32px;">-->
  <table class="table table-sm" style="margin-left:32px;">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Имя</th>
      <th scope="col">Ник</th>
      <th scope="col">Возраст</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${personById.getId()}"></td>
      <td th:text="${personById.getName()}" th:field="*{name}"></td>
      <td th:text="${personById.getNickname()}"></td>
      <td th:text="${personById.getAge()}"></td>
      <td th:text="${personById.getEmail()}"></td>
    </tr>
    </tbody>
  </table>
  <div class="form-group row" style="margin-top:16px;">
    <div class="col-sm-auto">
      <a href='/api/v1/people/all'><button type="button" style="margin-left:32px;" class="btn btn-success">Вернуться к списку</button></a>
      <!--            type="submit"-->
    </div>
  </div>

<!--</form>-->
</body>
</html>